@media (max-width: 767px) {
    .swiper-pagination-left-center {
        margin-left: 170px;
    }
}
@media screen and (min-width: 800px) {
    .swiper-pagination-left-center {
        margin-left: 420px;
    }
}
@media screen and (min-width: 900px) {
    .swiper-pagination-left-center {
        margin-left: 450px;
    }

}
@media screen and (min-width: 1200px) {
    .swiper-pagination-left-center {
        margin-left: 660px;
    }
}
@media screen and (min-width: 1900px) {
    .swiper-pagination-left-center {
        margin-left: 900px;
    }
    /* .slider-01 .swiper-slide .lead {
        font-size: 10px;
    } */

}
@media screen and (min-width: 2030px) {
    .swiper-pagination-left-center {
        margin-left: 1200px;
    }
}
@media screen and (min-width: 3840px) {
    .swiper-pagination-left-center {
        margin-left: 1400px;
    }
}
@media screen and (max-width: 1200px) {
    .navbar-toggler {
        margin-top: -150px;
    }
    .navbar-toggler .fas {
        font-size: 30px;
    }
    .display-large {
        display: none;
    }
    .display-small {
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .navbar-toggler {
        margin-top: 10px;
        margin-right: 10px;
    }
    .no-js .owl-carousel,
    .owl-carousel.owl-loaded {
        margin-left: 5px;
    }
    .blog-post-style-2 {
        margin-left: 25px;
    }
}
@media (max-width: 1200px) {
    .jcg img {
        display: none;
    }
    .social-media-icons ul {
        display: none;
    }
    .slider-01 .swiper-slide .lead {
        font-size: 28px;
        line-height: 25px;
    }
    .slider-01.display-large .swiper-slide{
        height: 60vh;
    }
}
@media screen and (min-width: 1900px) {
    .bg-slider {
        margin-bottom: -190px !important;
    }
    .slider-content {
        margin-left: 520px;
        margin-bottom: 400px;
    }
}
@media (max-width: 767px) {
    .bg-slider {
        background-color: #ededef;
        border-right: 25px solid #041160;
        padding: 180px 0px;
        transform: rotate(40deg);
        margin-top: -600px;
        margin-bottom: -100px;
        margin-left: -500px !important;
    }
    .slider-content {
        margin-top: 280px;
        transform: rotate(-40deg);
        margin-left: 610px;
        margin-bottom: 100px;
    }
    .slider-01 .swiper-slide .lead {
        font-size: 0.8rem !important;
        line-height: 30px;
    }
    .swiper-slide {
        height: 380px;
    }
    .button-caption a.btn.btn-sm.btn-primary {
        display: block !important;
    }
    .display-large {
        display: none;
    }
    .display-small {
        display: block;
    }
}
@media (max-width: 575px) {
    .bg-slider {
        background-color: #ededef;
        border-right: 25px solid #041160;
        padding: 210px 0px;
        transform: rotate(40deg);
        margin-top: -600px;
        margin-bottom: -150px;
        margin-left: -500px !important;
    }
    .slider-content {
        margin-top: 280px;
        transform: rotate(-40deg);
        margin-left: 630px;
        margin-bottom: 100px;
    }
    .display-large {
        display: none;
    }
    .display-small {
        display: block;
    }

}
@media screen and (min-width: 700px) and (max-width: 820px) {
    .glance-card span {
        font-size: 38px !important;
    }
    .glance-card h4 {
        font-size: 20px !important;
    }
    .display-large {
        display: none;
    }
    .display-small {
        display: block;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1270px) {
    .blog-post.blog-post-style-2 .blog-post-content {
        height: 100px;
    }

}
/*
@media (max-width: 1700px) {
    .slider-01.display-large .swiper-slide{
        height: 55vh;
    }
} */


.mobile-device-content {
    background-color: #0a1977b6;
    padding: 5px 35px;
    border-radius: 10px;
    color: white;
    /* height: 36vh; */

}

.slider-01 .swiper-slide .mobile-device-content .lead {
    font-size: 19px !important;
    font-weight: bold !important;
}
